<mat-toolbar color="primary" class="user-toolbar">
  <span class="app-title">🎧 Cloud Music</span>
  <span class="spacer"></span>

  <a mat-button routerLink="/user/discover" routerLinkActive="active-link">Discover</a>
  <a mat-button routerLink="/user/albums" routerLinkActive="active-link">Albums</a>
  <a mat-button routerLink="/user/songs" routerLinkActive="active-link">Songs</a>

  <button mat-button (click)="logout()" >Logout</button>
</mat-toolbar>

<div class="user-container">
  <router-outlet></router-outlet>
</div>
