.album-card {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
}
.card-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #3f51b5;
  letter-spacing: 0.5px;
}

.full-width {
  width: 100%;
}

.songs-section {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.song-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
}

mat-chip {
  background-color: rgba(63, 81, 181, 0.7) !important;
  color: white;
}